<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ng-Todo</title>

  <!-- Bootstrap -->
  <link href="bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
  
  <script src="angular.js"></script>
  <script src="todo.js"></script>
</head>
<body ng-controller="mainCtrl">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-ok"></span> ng-Todo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Filter Todos" ng-model="searchText">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  
  <div class="jumbotron container">
      <h1 class="text-center"><span class="glyphicon glyphicon-ok"></span> ng-Todo</h1>
      <h4 class="text-center">Not Your Grandparents' Todo App</h2>
      <form class="todos" ng-repeat="todo in todos | filter:searchText">
        <input type="checkbox" ng-click="toggleStatus(todo)" ng-checked="{{checked(todo)}}" class="row">
          <span class="{{todo.status}} lead">{{todo.text}}</span>
        </input>
      </form>
      <form class="add-todo" ng-submit="addTodo()">
        <input type="text" class="form-control row" placeholder="Add a todo!" ng-model="newTodo">
        <button class="btn btn-primary inline">
          <span class="glyphicon glyphicon-plus"></span> Submit
        </button>
        <span class="btn btn-danger inline" ng-click="clearCompleted()">
          <span class="glyphicon glyphicon-trash"></span> Clear Completed
        </span>
    </form>
  </div>
  <footer>
    Created by <a href="http://sweeneysam.com">Sam Sweeney</a>  (<a href="http://github.com/shubik22">Source</a>)
</body>
</html>