html, body, h1, h2, ul, li, div, form {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.main {
  margin: auto;
  padding: 20px;
  border: 4px dashed #D74498;
  border-radius: 8px;
  width: 600px;
  background: #8ADC46;
}

form.todos > input {
  font-size: 20px;
  margin-bottom: 10px;
}

span.completed {
  font-style: italic;
  color: #CC0200;
}